/*/////////////////////////////////////////////////////////////////////////////////////////////////////
flexbox
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.flexbox .section_inner_margin,
.flexbox .full_section_inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexbox .section_inner_margin>.wpb_column,
.flexbox .full_section_inner>.wpb_column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flexbox .section_inner_margin>.wpb_column>.vc_column-inner>.wpb_wrapper,
.flexbox .full_section_inner>.wpb_column>.vc_column-inner>.wpb_wrapper {
  height: 100%;
}

.flexbox .section_inner_margin>.wpb_column>.vc_column-inner>.wpb_wrapper .wpb_wrapper,
.flexbox .full_section_inner>.wpb_column>.vc_column-inner>.wpb_wrapper .wpb_wrapper {
  height: 100%;
  position: relative;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_box
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_box {
  height: 100%;
}

.mkd_box .vc_column-inner {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px;
}

.mkd_box .vc_column-inner:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.mkd_box .vc_column-inner .wpb_wrapper .wpb_single_image .vc_single_image-wrapper {
  padding-bottom: 65%;
  min-width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mkd_box .vc_column-inner .wpb_wrapper .wpb_text_column {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.mkd_box .vc_column-inner .wpb_wrapper a.qbutton {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
}

.mkd_box .vc_column-inner .wpb_wrapper span.qbutton {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  z-index: -1;
}

.mkd_box .vc_column-inner .wpb_wrapper span.qbutton:hover {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  cursor: default;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_box_list
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_box_list {
  height: 100%;
}

.mkd_box_list .vc_column-inner {
  margin-bottom: 30px;
}

.mkd_box_list .vc_column-inner>.wpb_wrapper {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  position: relative;
}

.mkd_box_list .vc_column-inner>.wpb_wrapper:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.mkd_box_list .vc_column-inner .wpb_wrapper .wpb_single_image .vc_single_image-wrapper {
  padding-bottom: 65%;
}

.mkd_box_list .vc_column-inner .wpb_wrapper .wpb_single_image .vc_single_image-wrapper.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 100%;
}

.mkd_box_list .vc_column-inner .wpb_wrapper .wpb_single_image .vc_single_image-wrapper.contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 20px;
  min-width: calc(100% - 40px);
}

.mkd_box_list .vc_column-inner .wpb_wrapper .wpb_text_column {
  margin-left: 20px;
  margin-right: 20px;
}

.mkd_box_list .vc_column-inner .wpb_wrapper a.qbutton {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  bottom: 20px;
}

.mkd_box_list .vc_column-inner .wpb_wrapper a.qbutton.video {
  right: 0px;
}

.mkd_box_list .vc_column-inner .wpb_wrapper span.qbutton {
  margin: 20px;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  z-index: -1;
}

.mkd_box_list .vc_column-inner .wpb_wrapper span.qbutton:hover {
  margin: 20px;
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  cursor: default;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_icon_text
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_icon_text p {
  padding-left: 83px;
}

.mkd_icon_text a.icon_with_title_link {
  padding-left: 83px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_portfolio_box
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_portfolio_box {
  padding: 0px !important;
  margin: 0px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mkd_portfolio_box:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_portfolio_list
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_portfolio_list .vc_column_container .vc_column-inner {
  padding: 0px !important;
  margin: 0px 15px 30px 15px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mkd_portfolio_list .vc_column_container .vc_column-inner:hover {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.mkd_portfolio_list .vc_custom_1485544005384 {
  margin-bottom: 0px !important;
  position: relative;
}

.mkd_portfolio_list .vc_column_container .vc_column-inner .vc_single_image-wrapper {
  height: 150px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 50px 50px;
  display: block;
}

.mkd_portfolio_list .wpb_single_image.vc_align_left {
  position: relative;
}

.mkd_portfolio_list .qbutton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: solid 1px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////
mkd_blog_overlay_box
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mkd_blog_overlay_box {}

.mkd_blog_overlay_box .mkd_elements_item_textbox {
  position: absolute !important;
  z-index: 2 !important;
  transform: translateY(-50%) !important;
  top: 50% !important;
  width: 50% !important;
  height: inherit !important;
  background-color: #FFF;
  padding: 0px !important;
  margin: 0px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mkd_blog_overlay_box:hover .mkd_elements_item_textbox {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.mkd_blog_overlay_box .mkd_elements_item_textbox.left {
  left: 15px !important;
}

.mkd_blog_overlay_box .mkd_elements_item_textbox.right {
  right: 15px !important;
}
